/* your styles go here */

.animate {
  color: #047bfe;
}

.links i {
  font-size: 1.5rem;
  margin-left: 1rem;
  padding-bottom: 1rem;
}

.fa-linkedin:hover {
  cursor: pointer;
  color: #0a66c2;
}

.fa-github:hover {
  cursor: pointer;
  color: #24292e;
}

.fa-twitter:hover {
  cursor: pointer;
  color: #00a2f3;
}

.links a {
  list-style: none;
  color: #3b3b3b;
}

.info p {
  line-height: 22px;
  padding-left: 15px;
}

.grid {
  padding: 0.7rem 0px;
}
.grid img {
  padding: 0.5rem 0px;
  width: 55px;
  height: 73px;
  transition: all 0.2s ease-in-out;
  filter: grayscale(100);
}

.grid img:hover {
  filter: grayscale(0);
}
