/* your styles go here */

.animate {
  color: #047bfe;
}

.links i {
  font-size: 2rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.fa-linkedin:hover {
  cursor: pointer;
  color: #0a66c2;
}

.fa-github:hover {
  cursor: pointer;
  color: #24292e;
}

.intro p {
  font-size: 2.5rem;
}

.intro h1 {
  font-size: 3.5rem;
}
.fa-twitter:hover {
  cursor: pointer;
  color: #00a2f3;
}

.links {
  margin-right: 40rem;
  display: flex;
  margin-bottom: 1rem;
}
.links a {
  list-style: none;
  color: #3b3b3b;
}

.info p {
  line-height: 22px;
  padding-left: 15px;
}

.grid {
  padding: 0.7rem 0px;
}
.grid img {
  padding: 0.5rem 0px;
  width: 55px;
  height: 73px;
  transition: all 0.2s ease-in-out;
  filter: grayscale(100);
}

.grid img:hover {
  filter: grayscale(0);
}

.resume {
  display: flex;
  flex-direction: column;
}

.resume a {
  text-decoration: none;
  padding: 0.6rem 0.5rem;
  width: 10rem;
  margin: 0 auto;
  background: none;
  color: #ddd;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  border: 2px solid white;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.resume a:hover {
  width: 12rem;
  border-radius: 2px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.bio {
  font-size: 1.5rem;

  padding-bottom: 1rem;
}
