/* your styles go here */
* {
  font-family: "Roboto", sans-serif;
}
.animate {
  color: #047bfe;
}

.links i {
  font-size: 2rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.fa-linkedin:hover {
  cursor: pointer;
  color: #0a66c2;
}

.fa-github:hover {
  cursor: pointer;
  color: #24292e;
}

.intro p {
  font-size: 3.5rem;
}

.intro h1 {
  font-size: 4.5rem;
}
.fa-twitter:hover {
  cursor: pointer;
  color: #00a2f3;
}

.links {
  margin-right: 40rem;
  display: flex;
  margin-bottom: 1rem;
}
.links a {
  list-style: none;
  color: #3b3b3b;
}

.info p {
  line-height: 22px;
  padding-left: 15px;
}

.grid {
  padding: 0.7rem 0px;
}
.grid img {
  padding: 0.5rem 0px;
  width: 55px;
  height: 73px;
  transition: all 0.2s ease-in-out;
  filter: grayscale(100);
}

.grid img:hover {
  filter: grayscale(0);
}

.resume {
  display: flex;
  flex-direction: column;
}

.resume a {
  text-decoration: none;
  padding: 0.6rem 0.5rem;
  width: 10rem;
  margin: 0 auto;
  background: none;
  color: #ddd;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  border: 2px solid white;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.resume a:hover {
  width: 12rem;
  border-radius: 2px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.bio {
  font-size: 1.5rem;

  padding-bottom: 1rem;
}

.reference img {
  height: 187px;
  filter: blur(0) !important;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 7px;
  height: 40px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: 0.18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: 0.27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.fade {
  opacity: 0;
}

.loader {
  transition: all 0.3s ease-in-out;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 1000011144444;
}

.profile img {
  height: 400px;
  width: 400px;
  filter: grayscale(0);
}

.down i {
  color: #aaaaaa;
  font-size: 4rem;
  transition: all 0.2s ease-in-out;
}

.down:hover {
  cursor: pointer;
  color: white;
}

.intro {
  padding: 1rem;
}

.date {
  color: #007bff;
}


.navy {
  background:transparent !important;
  transition:0.75s ease;



}
.navy.scrolled {
  background: rgb(255, 255, 255) !important;
  color: #777777 ;
}


.progress{
  border-radius: 50px !important;
}

.progress-title{
  color: #474747
}

.degree{
  font-size: 1.7em;
  
}